html, body{
    padding: 0px;
    margin: 0px;
}

/* AUTRES PROJETS #########################################################" */

li>a{
    color:#d8ebfa;
}

.dixieme section{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}
h2{
    margin-left: auto;
    margin-right: auto;
}

.premier h3, 
.deuxieme h3, 
.troisieme h3,
.quatrieme h3{
    width: 100%;
    margin-left: 5rem;
    font-size: 25px;
}

.dixieme ul{
    list-style: none;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(50px, auto);

    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.dixieme li{
    background-color: #31618a;
    padding: 10px 0px;
    transition: transform 500ms ease;
}

.dixieme li:hover{
    transform: scale(1.1);
}

.deuxieme p{
    text-align: justify;
    font-size: large;
    max-width: 80%;
    margin: 30px 10% 10px 10%;
    visibility:visible;
    opacity: 1;
}



.premier section{
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.premier{
    flex-direction: row;
}

.picw{
    width: 120px;
}
.pich{
    height: 100px;
}

.logohw{
    width: 250px;
}
.place article section img:not(.projetsimg, .mob-close, .mob-open){
    margin: 10px;
    max-width: 600px;
    max-height: 600px;
    transition: transform 0.5s ease;
}
article section img:not(.projetsimg, .mob-close, .mob-open){
    margin: 10px;
    max-width: 600px;
    max-height: 600px;
    transition: transform 0.5s ease;
}

img:not(.projetsimg, .mob-close, .mob-open):hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px black;
    z-index: 3;
}

.colcol img{
    margin-left: 10%;
    margin-right: 10%;
}

embed{
    width: 80%;
    height: 700px;
}

@media (max-width: 900px){

    .dixieme ul{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        grid-auto-rows: minmax(30px, auto);
    }

    .dixieme li{
        padding: 5px 0px;
    }

    .dixieme li:hover{
        transform: scale(1.05);
    }

    .place article section img:not(.projetsimg, .mob-close, .mob-open, .logohw){
        margin: 10%;
        max-width: 80%;
    }
    img:not(.projetsimg, .mob-close, .mob-open, .logohw){
        margin: 10%;
        max-width: 80%;
    }
    img:not(.projetsimg, .mob-close, .mob-open):hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 10px black;
    }

    .premier{
        flex-direction: column;
    }

    .part{
        display: none;
    }

    .logohw{
        width: 30%;
        margin: 50%;
        height: auto;
    }

    embed{
        width: 80%;
        height: 500px;
    }
}
