/* COULEURS 
#fffffe blanc
#272526 noir
#31618a bleu
#dd5641 rouge
*/ 


html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    color: #31618a;
    background-color: #d8ebfa;
    overflow-x: hidden;
}

header{
    background-color: #dd5641;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fffffe;
    font-family: 'DM Serif Display', serif;
    z-index: 3;
}

#haut{
    padding-top: 100px;
}

nav a{
    padding: 1rem;
    margin-right: 2rem;
}

.mob-menu{
    position: fixed;
    top: 0px;
    left: 0px;
}


h1{
    margin: 2rem;
}

footer{
    background-color: #dd5641;
    color: #fffffe;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

th{
    display: flex;
    padding: 10px;
}
td{
    padding: 10px;
}

h2{
    font-family: 'DM Serif Display', serif;
}

article{
    display: flex;
}

.premier{
    flex-wrap: wrap;
}

.premier section{
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.premier p{
    text-align: justify;
    padding: 0px 5%;
}

.deuxieme{
    flex-direction: column;
    align-items: center;
}

.deuxieme section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block{
    background-color: #31618a;
    height: 300px;
    width: 300px;
    margin: 2rem;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.listeprojet{
    background-color: #31618a;
    margin: 0.5rem 0.5rem;
    padding: 0px 1rem;
}

.deuxieme h3{
    width: 100%;
    margin-left: 5rem;
}


/* images */

.premier section img{
    max-width: 300px;
    max-height: 300px;
    margin: 20px 0px 20px 0px;
    padding: 0px;

    box-shadow: 0px 0px 20px black;
}


/* liens */

.cv{
    color: #31618a;
    font-size: larger;
    text-decoration: none;
    border: #31618a double 3px;
    border-radius: 50px;
    padding: 15px;
    margin: 15px 0%;
}

a{
    text-decoration: none;
    color: #fffffe;
}

.shadow{
    display: none;

    z-index: 10;
    width: 100%;
    height: 280px;
    background-color: #dd5641;
    position: absolute;

    -webkit-box-shadow: 0 1.5px 8px 11px #dd5641;
    -moz-box-shadow: 0 1.5px 8px 11px #dd5641;
    box-shadow: 0 1.5px 8px 11px #dd5641;
}

.ancre{
    position:relative; 
    top:-100px;
}

 /* TRANSITIONS PROJETS #########################################################" */

.projetsimg{
    height: 300px;
    border-radius: 3px;
    transition: all ease 0.2s;
}

.intro{
    height: 300px;
    width: 300px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 70px;

    background-color: rgba(27, 27, 27, 0.5);
    color: rgb(255, 255, 255);
    transition: all ease 0.4s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.block{
    background-color: #31618a;
    height: 300px;
    width: 300px;
    margin: 2rem;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

h4{
    margin: 5px;
    font-size: 30px;
}
.deuxieme p{
    text-align: justify;
    font-size: 15px;
    margin: 70px 10px 10px 10px;
    visibility: hidden;
    opacity: 0;
}
span{
    font-weight: bold;
}

.block:hover .intro{
    bottom: 305px;
    background-color: rgba(24, 24, 24, 0.637);
}
.block:hover p{
    opacity: 1;
    visibility: visible;
}
.block:hover .projetsimg{
    transform: scale(1.1) rotate(-3deg);
}


@media (min-width: 901px){
    .mob-menu{
        display: none;
    }
}

@media (max-width: 900px){
    .bg-menu{
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: #dd5641;
        width: 60px;
        height: 60px;
    }

    header{
        position: static;
        height: 60px;
        justify-content: space-around;
    }

    section:first-of-type{
        padding: 20px;
    }

    nav{
        display: none;
    }
    nav a, h1{
        margin: 0.5rem ;
    }
    .mob-open,
    .mob-close{
        width: 40px;
        height: 40px;
    }
    .mob-open{
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .mob-list{
        width: 35%;
        position: fixed;
        right: 0px;
        height: 300px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: #dd5641;
    }
    .mob-list:first-of-type{
        padding-top: 60px;
    }
    .mob-close{
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 5;
    }

    /* javascript */

    .opened{
        display: block;
        opacity: 1;
    }
    .close{
        display: none;
        opacity: 0;
    }

    /* style mob suite */

    #haut{
        padding-top: 0px;
    }

    footer{
        flex-direction: column;
    }
    th, td{
        padding: 5px 10px;
    }

    .premier{
        display: flex;
        flex-direction: column;
    }

    .premier section img{
        flex: 1 1 auto;
        max-width: 250px;
        max-height: 250px;
        margin: 0px;
        padding: 0px;
    } 

    .deuxieme h3{
        margin-left: 2rem;
    }

    .block{
        flex: 0 0 auto;
        background-color: #31618a;
        height: 200px;
        width: 200px;
        margin: 1rem;
    }


    .shadow{
        display: block;
    }
    .premier section img{
        margin-top: 0px;
    }

    .ancre{
        position:relative; 
        top:0px;
    }

    /* TRANSITIONS PROJETS */
    .projetsimg{height: 200px;}
    .intro{
        height: 200px;
        width: 200px;
        padding: 6px;
        bottom: 55px;
    }
    h4{
        margin: 5px;
        font-size: 20px;
    }
    .deuxieme p{
        font-size: 10px;
        margin: 30px 10px 10px 10px;
    }
    .block:hover .intro{
        bottom: 205px;
    }
    
}
