/* COULEURS 
#fffffe blanc
#272526 noir
#31618a bleu
#dd5641 rouge
*/ 

/* COULEURS N1
#f9fbfa blanc
#253537 noir
#ffb342 jaune       pas utilise
#e94d49 rouge
*/ 

/* COULEURS N2 
#ece4b8 blanc
#08302c vert fonce
#e01a1f rouge
*/ 


html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    color: #f9fbfa;
    background-color: #253537;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    background-color: #ffb342;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'DM Serif Display', serif;
    z-index: 4;
    letter-spacing: 1px;

    text-transform: uppercase;
}

#haut{
    padding-top: 100px;
}

nav a{
    padding: 1rem 0px 1rem 0px;
    margin-right: 25px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;

}

.mob-menu{
    position: fixed;
    top: 0px;
    left: 0px;
}

/* TITTRES ################################################################# */

h1{
    padding: 0.5rem 0px 0.5rem 0px;
    margin: 8px 8px 8px 30px;
    letter-spacing: 3px;
}
h2{
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.deuxieme h3, 
.troisieme h3{
    width: 90%;
    margin-left: 10%;
    font-size: 28px;
}
h4{
    margin: 5px;
    font-size: 24px;
}

p{
    font-size: 22px;
}

footer h3{
    font-size: 28px;
}
footer{
    background-color: #ffb342;
    color: #253537;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

th,
td{
    padding: 10px;
    font-size: 20px;
}

article{
    display: flex;
}

.premier{
    flex-wrap: wrap;
}

.deuxieme, 
.troisieme{
    flex-direction: column;
    align-items: center;
}

.premier section{
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.premier p{
    text-align: justify;
    max-width: 75%;
}

.deuxieme section,
.troisieme section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.troisieme ul{
    list-style: none;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(150px, auto);
    text-align: center;
}
.troisieme img{
    width: 75px;
}
.troisieme li{
    transition: all 500ms ease;
}
.troisieme li:hover{
    color: #ffb342;
    transform: scale(1.1);
}

.listeprojet{
    background-color: #f9fbfa;
    margin: 0.5rem 0.5rem;
    padding: 0px 1rem;
}


/* images */

.premier section img{
    max-width: 300px;
    max-height: 300px;
    margin: 20px 0px 20px 0px;
    padding: 0px;

    box-shadow: 0px 0px 20px black;
}
.premier section img:not(.projetsimg){
    border-radius: 25%;
}


/* liens */

.cv{
    color: #253537;
    background-color: #f9fbfa;
    font-size: larger;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px;
    margin: 15px 0px;
    transition: all 500ms ease-in-out;
}
.cv:hover{
    background-color: #ffb342;
    padding: 15px 50px 15px 50px;
}

a{
    text-decoration: none;
    color: #253537;
}

.ancre{
    position:relative; 
    top:-100px;
}

/* TRANSITIONS PROJETS #########################################################" */

.projetsimg{
    height: 305px;
    transition: all ease 0.2s;
}

.block{
    position: static;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 2rem;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.intro{
    height: 310px;
    width: 310px;
    padding: 6px;
    box-sizing: border-box;
    position: relative;
    bottom: 70px;

    background-color: rgba(37, 53, 55, 0.6);
    color: #f9fbfa;
    transition: all ease 0.4s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside p{
    text-align: justify;
    font-size: 18px;
    margin: 40px 10px 10px 10px;
    visibility: hidden;
    opacity: 0;
}
span{
    font-weight: bold;
}

.block:hover .intro{
    bottom: 315px;
    background-color: rgba(37, 53, 55, 0.8);
}
.block:hover p{
    opacity: 1;
    visibility: visible;
}
.block:hover .projetsimg{
    transform: scale(1.1) rotate(-3deg);
}

/* EFFETS LIENS #########################################################" */

.mob-list_item{
    position: relative;
    display: inline-block;
}
.mob-list_item::before,
.mob-list_item::after{
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #253537;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.mob-list_item::before{
    top: 0px;
    transform-origin: left;
}
.mob-list_item::after{
    bottom: 0px;
    transform-origin: right;
}
.mob-list_item:hover::before,
.mob-list_item:hover::after{
    transform: scaleX(1);
}

/* EFFETS SCROLL #########################################################" */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    position: relative;
    transform: translateY(0px);
    opacity: 1;
}


@media (min-width: 901px){
    .mob-menu{
        display: none;
    }
}

@media (max-width: 900px){

    h1{
        padding: 0;
        margin: 0;
        letter-spacing: 2px;
    }
    h2{
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    .deuxieme section h3,
    .troisieme section h3{
        width: 97%;
        margin-left: 3%;
        font-size: 24px;
    }
    h4{
        margin: 5px;
        font-size: 20px;
    }

    .bg-menu{
        position: fixed;
        top: 0px;
        right: 0px;
        background-color: #ffb342;
        width: 60px;
        height: 60px;
    }

    header{
        height: 60px;
        justify-content: space-around;
    }

    nav{
        display: none;
    }

    .mob-open,
    .mob-close{
        width: 40px;
        height: 40px;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
    .mob-open:hover,
    .mob-close:hover{
        transform: scale(1.25);
    }
    .mob-list{
        font-family: 'Nunito', sans-serif;
        position: fixed;
        right: 0px;
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffb342;
    }
    .mob-list_item:not(h1){
        padding: 1rem 0px 1rem 0px;
        margin-right: 1rem;
    }
    .mob-list:first-of-type{
        padding-top: 70px;
    }
    .mob-list:last-of-type{
        padding-bottom: 20px;
    }
    .mob-close{
        z-index: 5;
    }

    /* javascript */

    .opened{
        display: block;
        opacity: 1;
        animation: openAnim 400ms ease-in-out;
    }
    .close{
        display: none;
        opacity: 0;
    }

    @keyframes openAnim {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /* style mob suite */

    #haut{
        padding-top: 60px;
    }

    footer{
        flex-direction: column;
    }
    footer h3{
        font-size: 24px;
    }
    th, 
    td{
        font-size: 18px;
        padding: 5px 10px;
    }

    .premier{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .premier p{
        max-width: 90%;
        font-size: large;
    }

    .premier section img{
        flex: 1 1 auto;
        max-width: 250px;
        max-height: 250px;
        margin: 0px;
        padding: 0px;
    } 

    .troisieme ul{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
        text-align: center;
    }
    .troisieme img{
        width: 50px;
    }

    .ancre{
        top:0px;
    }

    /* TRANSITIONS PROJETS ######################################### */
    .projetsimg{height: 205px;}
    .block{
        flex: 0 0 auto;
        height: 200px;
        width: 200px;
        margin: 1rem;
    }
    .intro{
        height: 205px;
        width: 205px;
        bottom: 60px;
    }
    aside p{
        font-size: 12px;
        margin: 20px 10px 10px 10px;  
    }
    .block:hover .intro{
        bottom: 213px;
    }
    
}
